* {
    box-sizing: border-box;
    margin: 0px
}

@font-face {
    font-family: "Open-Dyslexie";
    src: url('./../fonts/OpenDyslexic-Regular.otf');
}


html {
    font-family: Oswald;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: white;
    letter-spacing: 3.6px;
    font-weight: 400;
    text-transform: uppercase;
}

body {
    margin: 0;
    height: 100vh;
}

#conteneur {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#section_droite,
#section_gauche,
#section_real,
#section_bio {
    overflow: hidden;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position-x: center;
}

#section_gauche {
    background-image: url("./../images/auteurs/Viviane/Ozen.jpg");
}

#section_droite {
    background-image: url("./../images/auteurs/valorant.webp");
}

.clickable {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#section_bio {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#section_bio>p {
    margin-top: 50px;
    display: inline-block;
    width: 80%;
}


.realisations {
    width: 100%;
    height: 33.33%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    background-position-x: center;
    vertical-align: bottom;
}

.realisations a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.rs {
    z-index: 4;
}

#conteneur>div>div h1 {
    z-index: 4;
}